
@import url('http://fonts.googleapis.com/css?family=Muli|Open+Sans:400italic,300,400,600');



// declare some fonts
open = 'Open Sans', sans-serif;
muli = 'Muli', sans-serif;

// declare some colors 
blue = #1c8098
red = #d54747
orange = #f26533
green = #8cca38

// declare some font weights
normal = 400
light = 300
heavy = 600

/* MEDIA QUERY GUIDE 
Large devices — desktops, 1200px and up
Medium devices — desktops, 992px and up
Small devices — tablets, 768px and up
XS devices — less than 768px
*/


/* ======================== true style begins y0 ======================== */
*, body, html
	margin 0px
	padding 0px

// .homePage
// 	background url(/images/bigliverbg2.png) 105% -60% no-repeat
// 	background-size 45%

html, body
	height 100%

body.ie8
	.header
		padding 0

		.navbar-header
			padding 0

			.logo
				width 300px
				padding-top 1px

				// everything over 768px (tablet screens)
				@media handheld, screen and (min-width: 768px)
					width 370px
					padding-top 0

				// everything over 992px (mediumscreens)
				@media handheld, screen and (min-width: 992px)
					width 370px
					padding-top 0

				// everything over 1200px (large screens)
				@media handheld, screen and (min-width: 1200px)
					padding-top 0

				img
					width 70% !important
					max-width 300px

					// everything over 768px (tablet screens)
					@media handheld, screen and (min-width: 768px)
						width 100%	

					// everything over 992px (tablet screens)
					@media handheld, screen and (min-width: 992px)
						width 100%

					// everything over 1200px (large screens)
					@media handheld, screen and (min-width: 1200px)
						width 100%
						margin-top 0



		ul.nav

			// everything over 768px (tablet screens)
			@media handheld, screen and (min-width: 768px)
				padding-top 10px

			// everything over 992px (medium screens)
			@media handheld, screen and (min-width: 992px)
				padding-top 10px



#wrap
	min-height 100%
	height auto !important
	height 100%
	/* Negative indent footer by its height */
	margin: 0 auto -60px
	/* Pad bottom by footer height */
	padding: 0 0 250px


// default headers
h1, h2, h3, h4, h5, h6
	font-family open
	color #333
	margin 0
	padding 0
	font-weight 400


h1
	font-size 28px
	font-weight light
	line-height 1.2
	color #666

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		font-size 36px

	a
		color inherit
		border none

		&:hover
			border none


	&.blue
		color blue

		a
			color inherit

			&:hover
				color darken(blue, 15%)

	span.heavy
		font-weight normal
		display inline-block


h2
	font-size 26px
	font-family open
	font-weight light
	line-height 1.3
	display inline-block

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		font-size 26px

	// everything over 992px (medium screens)
	@media handheld, screen and (min-width: 992px)
		font-size 30px

	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		font-size 36px

	&.blue
		padding-bottom 2px
		border-bottom 1px solid blue

	&.orange
		padding-bottom 2px
		border-bottom 1px solid orange

	span.heavy
		font-weight normal
		display inline

h3
	font-size 28px
	font-weight light
	line-height 1.5

h4
	font-family muli
	font-size 22px
	line-height 1.5
	color #6d6d6d

	&.orange
		color orange

h5
	font-family muli
	font-size 24px
	line-height 1.5
	color orange

h6
	font-family muli
	font-size 18px
	text-transform uppercase
	color #888

	.orange
		color orange

	.bigger
		font-size 22px



// default paragraph
p
	font-size 16px
	font-family muli
	font-weight normal
	line-height 1.7
	color #333
	margin-top 20px

	&.bigger
		color #666
		font-size 19px
		font-family muli
		font-weight normal

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			font-size 18px

		// everything over 992px (tablet screens)
		@media handheld, screen and (min-width: 992px)
			font-size 19px

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			font-size 19px

	&.clean
		margin 0

	&.orange
		color orange

	&.dark
		color #222

	em
		font-family open
		font-style oblique
		font-weight normal


// default links
a
	color orange
	padding-bottom 2px
	border-bottom 1px solid #ddd

	&:hover
		text-decoration none
		color darken(orange, 20%)
		border-bottom 1px solid #ccc

	&.blue
		color lighten(#11535f, 20%)

		&:hover
			color lighten(#11535f, 30%)

border-radius(arg)
	-webkit-border-radius arg
	-moz-border-radius arg
	border-radius arg
	behavior url(/pie/PIE.htc)

background-gen(color)
	background-color color
	&:hover
		background-color lighten(color, 7%)


// ============================ STANDARD FORM
form
	margin-left 0

	@media handheld, screen and (min-width: 600px)
		margin-left 0

	@media handheld, screen and (min-width:768px)
		margin-left 0

	@media handheld, screen and (min-width: 992px)
		margin-left 7%

	textarea
		width 100%
		max-width 100%
		height 200px
		max-height 200px
		background-color #f3f8f9
		border 1px solid darken(#b6ced2, 15%)
		border-radius(3px)
		outline none
		padding 20px
		box-shadow inset 0px 2px 1px darken(#f3f8f9, 6%)

	label
		color darken(#f3f8f9, 55%)
		font-family muli
		font-size 15px
		padding 15px 0

		&.skinny
			padding-bottom 0

	// default input
	input
		background-color #f3f8f9
		border 1px solid darken(#b6ced2, 15%)
		border-radius(3px)
		font-family muli
		font-size 16px
		box-shadow inset 0px 2px 1px darken(#f3f8f9, 6%)
		width 100%
		margin 0

	input[type=checkbox]
		border none
		box-shadow none
		display inline-block
		width auto !important

	input[type=text]
		padding 15px 20px

	.help-block
		margin-top -18px
		color #bbb
		font-style oblique

		&:hover
			cursor pointer
			color #888

// ============================ LINKS		
a.button, button
	padding 18px 45px 17px
	background-color #333 // default color
	font-weight light
	letter-spacing 1px
	text-transform uppercase

	box-shadow none
	border none
	outline none

	font-family muli
	color #fff
	font-size 14px

	border-radius(2px)

	&:hover
		background-color lighten(#333, 20%)

	&:active
		position relative
		top 1px

	&.small
		padding 10px 40px

	&.long
		padding 14px 65px

	&.fluid
		display inline-block
		padding 10px
		width 100%
		max-width 300px

	&.blue
		background-gen(blue)

		&:hover
			background-color lighten(blue, 5%)
			color white

	&.orange
		background-gen(orange)

	&.green
		background-gen(green)

	&.teal
		background-gen(#2aba97)

	&.red
		background-gen(#e44845)

	&.gray
		background-gen(#ccc)

	&.white
		background-gen(#fff)
		color #333


// ============================ DEFAULT HEAD + SUBHEAD
span.subhead
	font-size 18px
	color #888

	&.large
		font-size 24px
		font-family pontano



// ============================ HEADER STYLES
.header
	margin 0px
	background #f2f2f2
	min-height 84px

	// everything over 992px (tablet screens)
	@media handheld, screen and (min-width: 992px)
		background url(/images/nav_bg.png)

	.main
		padding-top 18px

		// everything over 992px (tablet screens)
		@media handheld, screen and (min-width: 992px)
			padding-top 8px

	.navbar-header
		.logo
			width 300px
			padding-top 10px

			// everything over 768px (tablet screens)
			@media handheld, screen and (min-width: 768px)
				width 380px
				padding-top 3px

			// everything over 992px (mediumscreens)
			@media handheld, screen and (min-width: 992px)
				width 400px
				padding-top 12px

			// everything over 1200px (large screens)
			@media handheld, screen and (min-width: 1200px)
				padding-top 5px

			img
				width 70% !important
				max-width 300px

				// everything over 768px (tablet screens)
				@media handheld, screen and (min-width: 768px)
					width 100%	

				// everything over 992px (tablet screens)
				@media handheld, screen and (min-width: 992px)
					width 100%

				// everything over 1200px (large screens)
				@media handheld, screen and (min-width: 1200px)
					width 100%
					margin-top 7px

	.navbar
		background none
		border none

		ul.nav
			// everything over 768px (tablet screens)
			@media handheld, screen and (min-width: 768px)
				padding-top 0
			// everything over 992px (tablet screens)
			@media handheld, screen and (min-width: 992px)
				padding-top 10px





	
	// ============================ MAIN style nav, responsive
	ul.nav
		float right

		// 768px and thinner (mobile devices)
		@media handheld, screen and (max-width: 768px)
			float left
			text-align center
			display block
			margin-bottom 30px
			

		// strip bootstrap styles
		a
			padding 0
			margin 0
			background none
			border none


		// list items are blocks with headers and subheads
		li
			margin-top 5px

			// everything over 768px (tablet screens)
			@media handheld, screen and (min-width: 768px)
				float left
				display inline-block
				margin-right 50px

				&:last-child
					margin-right 0

			span.head
				font-size 15px
				font-family open
				color #555
				display block

			span.subhead
				font-size 12px
				color #aaa
				font-family muli

			// 992px and thinner
			@media handheld, screen and (max-width: 992px)
				margin-top 13px

				span.head
					&:hover
						color blue
			
			// 768px and thinner
			@media handheld, screen and (max-width: 768px)
				// margin 7px 25px 0 0
				text-align left

			&:hover
				h1
					color #333

				span.subhead
					color blue

// ============================ HOME-specific style
.snapshot
	span.main
		font-size 19px
		font-family open
		margin 0
		font-weight light
		color blue

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			font-size 24px

	span.sub
		font-family muli
		font-size 16px
		display block
		color #444
		margin-top 10px
		line-height 1.6

	&.extend
		a
			color #333
			
			&:hover
				color orange
				cursor pointer

				p
					color #888

.date
	
	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		width 100%
		height auto

	// everything over 992px (tablet screens)
	@media handheld, screen and (min-width: 992px)
		width 100%
		height auto

	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		width auto
		height auto


img.home_part
	width 100%
	max-width 170px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		width 170px !important

	// everything over 992px (tablet screens)
	@media handheld, screen and (min-width: 992px)
		width 96% !important

	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		width 96% !important



// ============================ SUMMIT-specific style
.summitbox
	border 1px solid #ddd
	border-radius(3px)

ul.mob_supporters
	padding 0
	margin 0
	list-style-type none
	font-family muli
	font-weight light

	li
		background-color darken(#f6f8f9, 10%)
		padding 10px
		margin 5px 0
		font-size 16px
		color darken(#f6f8f9, 60%)


.facil
	max-width: 150px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		width 95%

// organization bar (white!)
.org_bar
	background-color #f6f8f9
	padding 10px 0

	a
		border none

	&.gray
		border none
		background-color #f6f8f9

	span.main
		font-size 20px
		font-family open
		font-weight light
		color #aaa


// summit registration area
#summit_map
	height 250px
	width 100%
	box-shadow 0px 1px 3px #aaa

form.summit_reg
	margin-left 0

	@media handheld, screen and (min-width: 600px)
		margin-left 0

	@media handheld, screen and (min-width:768px)
		margin-left 0

	@media handheld, screen and (min-width: 992px)
		margin-left 7%

	label
		color red
		font-family pontano
		font-size 15px
		padding 15px 0

	// default input
	input
		background-color #fafafa
		border none
		border-radius(3px)
		font-family pontano
		font-size 16px
		box-shadow inset 0px 2px 1px #eaeaea
		width 100%

	input[type=checkbox]
		border none
		box-shadow none
		display inline-block
		margin-right 10px

	input[type=text]
		padding 15px 20px

	.help-block
		margin-top -18px
		color #bbb
		font-style oblique

		&:hover
			cursor pointer
			color #888


// ============================ FOOTER STYLES
.footer
	background #f6f8f9
	min-height 250px
	position relative
	margin-top -250px
	clear both

	a
		color #fff
		border none

	p
		color #818181
		font-size 13px
		font-weight light
		margin-top 5px

		a
			color orange

			&:hover
				color darken(orange, 10%)

	.secondary_nav
		margin-top 0
		padding 20px 0
		background blue

		ul.snav
			float left
			font-family muli
			font-size 14px
			list-style-type none
			margin 0
			padding 0

			li, li a
				float left
				color #f6f8f9
				margin-right 15px

				&:hover
					color #bbb
					text-decoration none
	h2
		color blue
		font-size 18px
		border none
		padding 0

	img.social
		display inline
		margin-right 3px

		&:hover
			opacity .7

	.input-group
		input[type=text]
			background-color #fff
			border none
			padding 22px 15px
			outline none
			color #bbb

			&:focus
				outline none !important
				border none
				box-shadow inset 0px 0px 1px #2aba97


	.input-group-btn
		border-top-left-radius 0
		border-bottom-left-radius 0
		-moz-border-top-left-radius 0
		-moz-border-bottom-left-radius 0
		-webkit-border-top-left-radius 0
		-webkit-border-bottom-left-radius 0

		button.btn
			background-color blue
			color #fff
			padding 12px 15px
			border none
			outline none

			&:hover
				background-color darken(blue, 5%)

	.boop
		color #666
		font-size 12px
		ul
			list-style-type none
			display inline-block

			li
				display inline-block
				margin-left 10px

				a
					color #777



// ============================ ORGANIZER - SPECIFIC PAGE
h1.organizer
	font-size 26px
	color blue
	line-height 1.3

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		font-size 42px

.organizers
	h1.orgtitle
		font-size 32px
		color #333
		margin-bottom 10px

	p
		margin-top 5px

	span.subhead
		font-family muli
		font-size 22px
		font-weight light
		line-height 1.3

// ============================ FULLWIDTH SITE SECTIONS
.watermark
	background url(/images/darkliverbg3.png) 98% 60% no-repeat
	background-size auto 230%

	// everything over 992px (tablet screens)
	@media handheld, screen and (min-width: 992px)
		background url(/images/darkliverbg3.png) 130% 60% no-repeat
		background-size auto 200%

	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		background url(/images/darkliverbg3.png) 105% 63% no-repeat
		background-size auto 230%


	&.two
		background-size auto 230%

		// everything over 992px (tablet screens)
		@media handheld, screen and (min-width: 992px)
			background url(/images/darkliverbg3.png) 105% 50% no-repeat
			background-size auto 300%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			background url(/images/darkliverbg3.png) 105% 50% no-repeat
			background-size auto 300%

	&.three
		background url(/images/darkkidneybg3.png) 98% 60% no-repeat
		background-size auto 160%

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			background url(/images/darkkidneybg3.png) 100% 50% no-repeat
			background-size auto 160%

		// everything over 992px (tablet screens)
		@media handheld, screen and (min-width: 992px)
			background url(/images/darkkidneybg3.png) 100% 50% no-repeat
			background-size auto 160%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			background url(/images/darkkidneybg3.png) 100% 50% no-repeat
			background-size auto 160%

	&.four
		background url(/images/darklungbg2.png) 101% 65% no-repeat
		background-size auto 170%

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			background url(/images/darklungbg2.png) 100% 50% no-repeat
			background-size auto 160%

		// everything over 992px (tablet screens)
		@media handheld, screen and (min-width: 992px)
			background url(/images/darklungbg2.png) 101% 65% no-repeat
			background-size auto 170%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			background url(/images/darklungbg2.png) 101% 60% no-repeat
			background-size auto 170%



.herounit
	background-color #10839f 
	color #f2f7f9

	span.mainhead
		font-size 21px
		font-weight normal
		font-family open
		line-height 1.5

		// everything 768px and wider
		@media handheld, screen and (min-width: 768px)
			font-size 32px

		// everything 992px and wider
		@media handheld, screen and (min-width: 992px)
			font-size 38px

		// everything 1200px and wider
		@media handheld, screen and (min-width: 1200px)
			font-size 40px

			small
				font-size 40px


		span.light
			font-weight light

		&.bigger
			font-size 56px

	&.two
		background url(/images/bigliverbg3.png) right center no-repeat
		color blue

		span.mainhead
			font-size 21px
			font-weight normal
			font-family open
			line-height 1.5

			// everything 768px and wider
			@media handheld, screen and (min-width: 768px)
				font-size 32px

			// everything 992px and wider
			@media handheld, screen and (min-width: 992px)
				font-size 38px

			// everything 1200px and wider
			@media handheld, screen and (min-width: 1200px)
				font-size 40px

				small
					font-size 40px


			span.light
				font-weight light

			&.bigger
				font-size 56px


.whiteback
	background-color #fff

.transback
	background url(/images/trans_bg.png) repeat


.grayback
	background-color #f6f8f9
	width 100%
	padding 80px 0
	margin 0

	.center
		text-align center

	.whiteback
		p
			font-size 14px

.quote	
	text-align center
	background url(/images/quote3.png) left 10% no-repeat
	span.main
		font-size 24px
		font-weight light
		color blue
		font-style oblique
		font-family open

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			font-size 38px


	img
		width 100%
		// max-width 100px

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width auto

.facilitators
	span.main
		font-size 24px
		font-family open
		margin 0
		font-weight light
	

.participants
	p
		font-size 12px
		color #333
		margin-top 5px

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			font-size 13px

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			font-size 13px

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			font-size 13px

	span.main
		font-size 16px
		font-family open
		margin 0
		font-weight light

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			font-size 20px

	img
		max-width 200px

	a
		color #333
		
		&:hover
			position relative
			top 1px
			color #888
			cursor pointer

			p
				color #888


.box
	width 100%
	margin 0

	&.gray
		background-color #f7f7f7

	&.white
		background-color #ffffff

	span.head
		font-family pontano
		color #222
		font-size 18px
		font-weight heavy

	p
		color #777
		font-size 16px
		font-family roboto
		font-weight normal

		&.smaller
			font-size 14px



// ============================ ALERT BOX STYLES
.alertbox
	padding 15px 20px 10px 
	border 1px solid #ffffff

	&.orange
		border 1px solid orange

.breadcrumb
	background-color #eee



// ============================ SPACER STYLES
hr
	clear both
	border-style none
	height 1px
	margin 0
	display block

spacer(n)
	height n

	&.nomob
		@media handheld, screen and (max-width: 768px)
			display none

	&.notab
		@media handheld, screen and (max-width: 992px)
			display none

	&.mobonly
		display none
		
		@media handheld, screen and (max-width: 768px)
			display block

hr.spacer5
	spacer(5px)

hr.spacer10
	spacer(10px)

hr.spacer20
	spacer(20px)

hr.spacer30
	spacer(30px)

hr.spacer40
	spacer(40px)

hr.spacer50
	spacer(50px)

hr.spacer60
	spacer(60px)


// MISC STYLES
.fullwidthline
	background-color #eee
	height 1px
	width 100%

.modal-alert
	text-align center
	font-size 18px
	line-height 1.6

	.modal-alert-icon
		height 150px
		width 150px
		background url('/images/alert.png') center center no-repeat
		margin auto
		margin-bottom 10px

.modal-alert-error
	text-align center
	font-size 18px
	line-height 1.6

	.modal-alert-icon
		height 150px
		width 150px
		background url('/images/error.png') center center no-repeat
		margin auto
		margin-bottom 10px

.modal-alert-success
	text-align center
	font-size 18px
	line-height 1.6

	.modal-alert-icon
		height 150px
		width 150px
		background url('/images/success.png') center center no-repeat
		margin auto
		margin-bottom 10px


.nomob
	display block

	&.center
		margin auto

	@media handheld, screen and (max-width: 768px)
		display none !important

.notab
	display block
	@media handheld, screen and (max-width: 992px)
		display none !important

.mobonly
	display none
	
	@media handheld, screen and (max-width: 768px)
		display block !important

.tabonly
	display none
	
	@media handheld, screen and (max-width: 992px)
		display block !important

.alignright
	text-align right

.center
	text-align center
	margin auto

	&.mob
		text-align left

		@media handheld, screen and (max-width: 768px)
			text-align center
			margin auto

.liner
	padding 20px

	&.big
		padding 30px

	&.noleft
		padding-left 0

	&.noright
		padding-right 0

	&.notop
		padding-top 0

	&.nobottom
		padding-bottom 0