
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,400italic,700,300|Pontano+Sans');



// declare some fonts
pontano = 'Pontano Sans', sans-serif;
roboto = 'Roboto', sans-serif;

// declare some colors 
blue = #41a1e2
red = #d54747
orange = #f05c39
green = #8cca38

// declare some font weights
normal = 400
light = 300
heavy = 600

/* MEDIA QUERY GUIDE 
Large devices — desktops, 1200px and up
Medium devices — desktops, 992px and up
Small devices — tablets, 768px and up
XS devices — less than 768px
*/


/* ======================== true style begins y0 ======================== */
*, body, html
	margin 0px
	padding 0px

html, body
	height 100%

#wrap
	min-height 100%
	height auto !important
	height 100%
	/* Negative indent footer by its height */
	margin: 0 auto -60px
	/* Pad bottom by footer height */
	padding: 0 0 250px


// default headers
h1, h2, h3, h4, h5, h6
	font-family roboto
	color #333
	margin 0
	padding 0
	font-weight 400


h1
	font-size 36px
	font-weight light
	line-height 1.3


h2
	font-size 24px
	padding-bottom 14px
	border-bottom 2px solid orange
	display inline-block

	&.blue
		border-bottom 2px solid blue



// default paragraph
p
	font-size 14px
	font-family roboto
	font-weight normal
	line-height 1.6
	color #333

	&.bigger
		color #666
		font-size 17px
		font-family roboto
		font-weight normal


// default links
a
	color orange

	&:hover
		text-decoration none

border-radius(arg)
	-webkit-border-radius arg
	-moz-border-radius arg
	border-radius arg

background-gen(color)
	background-color color
	&:hover
		background-color lighten(color, 7%)

a.button
	padding 16px 45px
	background-color #333 // default color
	font-weight light
	letter-spacing 1px

	font-family roboto
	color #fff
	font-size 18px

	border-radius(3px)

	&:hover
		background-color lighten(#333, 20%)

	&:active
		position relative
		top 1px

	&.small
		padding 10px 40px

	&.long
		padding 14px 65px

	&.fluid
		display inline-block
		padding 10px
		width 100%
		max-width 300px

	&.blue
		background-gen(blue)

	&.orange
		background-gen(orange)

	&.green
		background-gen(green)


// ============================ HEADER STYLES
.header
	margin 0px
	background url(/images/nav_bg.png)
	height 84px

	.main
		padding-top 30px

	.logo
		height 105px
		background url(/images/wo_logo.png) no-repeat 
		background-size 83%

	// everything over 1200px (large screens)
	@media (min-width: 1200px)
		.logo
			height 105px
			background url(/images/wo_logo.png) no-repeat 
			background-size 83%

	
	// everything over 992px (medium screens)
	@media screen and (min-width: 992px)
		.logo
			height 105px
			background url(/images/wo_logo.png) no-repeat 
			background-size 100%
	
	
	// everything over 768px (tablet screens)
	@media (min-width: 768px)
		.main
			padding-top 20px

		.logo
			margin-top 10px

	
	// 768px and thinner (mobile devices)
	@media (max-width: 768px)
		height auto
		background none
		background-color #f2f2f2

		.main
			padding-top 0
			margin auto
		.logo
			height 90px
			background url(/images/wo_logo.png) no-repeat 
			background-size 250px
			background-position center center

	
	// ============================ MAIN style nav, responsive
	ul.nav
		float right

		// 768px and thinner (mobile devices)
		@media (max-width: 768px)
			float left
			text-align center
			display block
			margin-bottom 30px
			display none

		// strip bootstrap styles
		a
			padding 0
			margin 0
			background none


		// list items are blocks with headers and subheads
		li
			display inline-block
			float left
			margin-left 50px
			margin-top 5px

			span.head
				font-size 15px
				font-family roboto
				color #555
				display block

			span.subhead
				font-size 12px
				color #aaa

			// 992px and thinner
			@media (max-width: 992px)
				margin-top 13px

				span.head
					&:hover
						color blue

				span.subhead
					display none

			
			// 768px and thinner
			@media (max-width: 768px)
				margin 7px 25px 0 0

				span.head
					font-size 14px
					&:hover
						color blue

				span.subhead
					display none

			&:hover
				h1
					color #333

				span.subhead
					color blue

	// ============================ MOBILE style nav
	ul.nav_mob
		display none
		text-align center
		list-style-type none
		margin-bottom 20px
		margin-top 0

		li, li a
			display inline
			margin 0
			font-size 13px
			padding 5px
			color #333

			&.standout
				font-weight heavy

		@media (max-width:768px)
			display block


// ============================ HOME-specific style
.snapshot
	span.main
		font-size 20px
		display block

	span.sub
		font-size 16px
		display block
		color #888


// ============================ SUMMIT-specific style
form.summit_reg
	label
		color red
		font-family pontano
		font-size 15px
		padding 15px 0

	// default input
	input
		background-color #fafafa
		border none
		border-radius(3px)
		font-family pontano
		font-size 16px
		box-shadow inset 0px 2px 1px #eaeaea
		width 100%

	input[type=text]
		padding 15px 20px


// ============================ FOOTER STYLES
.footer
	background #3e3e3e
	min-height 250px
	position relative
	margin-top -250px
	clear both

	a
		color #fff

	p
		color #818181
		font-size 13px
		font-weight light
		margin-top 5px

		a
			color #eee

			&:hover
				color #ccc

	.secondary_nav
		margin-top 0
		padding 15px 0
		background #333

		ul.snav
			float left
			font-family roboto
			font-size 14px
			color #969696
			list-style-type none
			margin 0
			padding 0

			li, li a
				float left
				color #969696
				margin-right 15px

				&:hover
					color #bbb
					text-decoration none
	h2
		color #ddd
		font-size 18px
		border none
		padding 0

	img.social
		display inline
		margin-right 3px

		&:hover
			opacity .7




// ============================ FULLWIDTH SITE SECTIONS
.herounit
	margin 0
	padding 0

	span.mainhead
		font-size 48px
		font-weight light
		font-family pontano
		line-height 1.2

		@media (max-width: 600px)
			font-size 32px

	span.subhead
		display block
		color #bbb
		font-weight light
		font-family pontano

		font-size 26px
		margin-top 10px

	&.bubblesone
		background url('/images/bubbles1.png') no-repeat
		background-position right bottom

		// everything 600px and thinner
		@media (max-width: 600px)
			background-size 350px

		// everything 600px and wider
		@media (min-width: 600px)
			background-size 450px

		@media (min-width: 768px)
			background-size 550px

		@media (min-width: 1000px)
			background-size 690px

	&.bubblestwo
		background url('/images/bubbles2.png') no-repeat
		background-position center bottom
		background-size 100%

		@media (max-width: 500px)
			span.mainhead
				font-size 23px
				
				small
					font-size 23px

			span.subhead
				font-size 20px



.grayback
	background-color #f7f7f7
	width 100%
	padding 80px 0
	margin 0

	p
		color #666
		font-size 17px
		font-family roboto
		font-weight normal

	@media (max-width: 600px)
		h1
			font-size 28px
		p
			font-size 15px

	.center
		text-align center

.graybox
	background-color #f7f7f7
	width 100%
	margin 0

	span.head
		font-family pontano
		color #222
		font-size 18px
		font-weight heavy

	p
		color #777
		font-size 16px
		font-family roboto
		font-weight normal

// ============================ ALERT BOX STYLES
.alertbox
	padding 20px
	border 1px solid #ffffff

	&.orange
		border 1px solid orange



// ============================ SPACER STYLES
hr
	clear both
	border-style none
	height 1px
	margin 0
	display block

spacer(n)
	height n

	&.nomob
		@media (max-width: 768px)
			display none

	&.notab
		@media (max-width: 992px)
			display none

	&.mobonly
		display none
		
		@media (max-width: 768px)
			display block

hr.spacer5
	spacer(5px)

hr.spacer10
	spacer(10px)

hr.spacer20
	spacer(20px)

hr.spacer30
	spacer(30px)

hr.spacer40
	spacer(40px)

hr.spacer50
	spacer(50px)

hr.spacer60
	spacer(60px)


// MISC STYLES
.center
	text-align center
	margin auto

.liner
	padding 20px

	&.noleft
		padding-left 0

	&.noright
		padding-right 0

	&.notop
		padding-top 0

	&.nobottom
		padding-bottom 0