<template name="static_organizers">

	<!-- header area -->
	<div class="herounit bubblesone">
		<div class="container">
			<div class="row">
				<div class="col-md-11 col-lg-11 col-lg-offset-1">
					<hr class="spacer60">
					<hr class="spacer20">
					<span class="mainhead">
						Organizers
					</span>

					<hr class="spacer30">
				</div>
			</div>
		</div>
	</div>

	<!-- quote area -->
	<div class="grayback quote">
		<div class="container quote">
			<div class="col-md-10 col-md-offset-1">
				<div class="center">
					<span class="main">"Let's have a world-class conversation about what it's going to take to build a human liver."</span>
				</div>

				<hr class="spacer20">

				<span class="subhead" style="font-style: oblique; float: right; color: #bbb;"> &mdash; Dr. Alejandro Soto-Gutiérrez and Dr. Jason A. Wertheim</span>
			</div>
		</div>
	</div>

	<div class="container organizers">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">

				<hr class="spacer60">
				<hr class="spacer20">

				<div class="row" id="700forscience">
					<div class="col-md-4 col-sm-4">
						<hr class="spacer20">
						<div class="center">
							<img src="/images/darkerlogo2.png" style="width: 85%; max-width: 190px;" alt="">

							<hr class="spacer20 mobonly">
						</div>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<h1>700 for Science</h1>
						<span class="large subhead">
							We support innovative projects and novel, early-stage technologies that hold great promise for society.
						</span>
						<hr class="spacer10">
						<p>700 for Science is a global non-profit organization that serves as both a catalyst and advocate for bold initiatives. Our members will comprise a bottom-up support system for the Consortium's mission.</p>

						<hr class="spacer30">

						<a href="http://www.700forscience.org" target="_blank" class="long blue button">Visit Website</a>
					</div>
				</div>

				<hr class="spacer60">
				<hr class="spacer60">
				<hr class="spacer30">

				<div class="row" id="sos">
					<div class="col-md-4 col-sm-4">
						<hr class="spacer10">
						<div class="center">
							<img src="/images/sos_logo2.png" style="width: 90%; max-width: 200px;" alt="">
							<hr class="spacer20 mobonly">
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<h1>Solving Organ Shortage</h1>
						<span class="large subhead">
							We've conceived an ambitious agenda of research and policy-making initiatives aimed at solving organ shortage. Now we're ready to begin.
						</span>
						<hr class="spacer10">
						<p>SOS is a global non-profit organization specifically formed to support the Whole Liver Replacement Consortium's mission, provide administrative assistance, raise awareness of its purpose and achievements, and seek funding for its efforts.</p>

						<hr class="spacer30">

						<a href="http://700forscience.com/projects/#sosproject" target="_blank" class="long teal button">Learn More</a>
					</div>
				</div>

				<hr class="spacer60">
				<hr class="spacer60">
				<hr class="spacer30">

				<div class="row" name="organogenesis">
					<div class="col-md-4 col-sm-4">
						<hr class="spacer20">
						<div class="center">
							<img src="/images/organogenesis_logo.png" style="width: 92%; max-width: 230px;" alt="">
							<hr class="spacer10 mobonly">
						</div>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<h1>Organogenesis</h1>
						<span class="large subhead">We publish significant advances in all aspects of organ development.</span>

						<hr class="spacer10">

						<p>Organogenesis is a rigorously peer-reviewed scholarly journal publishing significant advances in all aspects of organ development, including tissue engineering, artificial organs and organ substitutes. The journal will organize the initial collection, publication and distribution of information, materials and papers arising from the efforts of the Consortium. All materials will be freely available to the public and scholars worldwide via the journal and Consortium website.</p>

						<hr class="spacer30">

						<a href="https://www.landesbioscience.com/journals/organogenesis/" target="_blank" class="long red button">Visit Website</a>
					</div>
				</div>

				<hr class="spacer60 nomob">
				<hr class="spacer60 nomob">
				<hr class="spacer40 nomob">
			</div> <!-- cols -->
		</div> <!-- row -->
	</div> <!-- contain -->

	<div class="herounit bubblestwo" style="height: 220px">
		
	</div>
</template>