<template name="static_contact">
	<div class="herounit">
		<div class="container">
			<div class="watermark two">
			<!-- <div class="container"> -->
				<div class="row">
					<div class="col-md-11 col-lg-11">
						<hr class="spacer60">
						<span class="mainhead">
							Contact Us
						</span>

						<hr class="spacer50">
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<hr class="spacer30">

		<div class="row">
		<div class="col-md-12 col-lg-12">

			<hr class="spacer20">

			<div class="row">
				<div class="col-md-4 col-xs-12 col-sm-12">
					<hr class="spacer20">
					<h1>Whole Liver Research Consortium</h1>
       				<p>Multifaceted • Interdisciplinary • Collaborative</p>
       				
       				<p>We welcome your questions. Use our form to submit an inquiry or email us directly at <a href="mailto:contact@wholeorgan.org">contact@wholeorgan.org.</a></p>
				</div>

				<div class="col-md-8 col-xs-12 col-sm-12">
				<form class="contact" action="" style="">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-3">
								<label class="skinny">Name</label>
							</div>

							<hr class="spacer10">

							<div class="col-md-12">
								<input name="first_name" type="text" placeholder="">
							</div>
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<label class="skinny">Email Address</label>
							</div>
							<hr class="spacer10">
							<div class="col-md-12">
								<input name="email" type="text" placeholder="john@example.com">
							</div>
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<label class="skinny">Message</label>
							</div>
							<div class="clear"></div>
							<div class="col-md-12">
								<textarea name="message"></textarea>
							</div>
						</div>
					</div>

					<hr class="spacer60">

					<div class="center">
						<button id="contact-submit" class="long orange">Send Message</button>
					</div>

				</form>
				</div>
			</div>

			<hr class="spacer60">

		</div> <!-- cols -->
		</div> <!-- row -->
	</div> <!-- container -->

	<hr class="spacer60">
	<hr class="spacer60">
</template>
