<template name="static_summit">
	<div class="herounit bubblestwo">
		<div class="container">
			<hr class="spacer60">
			<hr class="spacer30 nomob">

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="center">
						<span class="mainhead">
							<small>The Whole Liver Replacement</small><br> State-of-the-Science Summit
						</span>

						<span class="subhead">April 30, 2014 &nbsp;Chicago, USA</span>
					</div>
				</div>
			</div>

			<hr class="spacer50">
			<hr class="spacer60 notab nomob">
			<hr class="spacer60 nomob">
			<hr class="spacer30 nomob">
			<hr class="spacer30">
		</div>
	</div>

	<div class="grayback">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-10 col-lg-offset-1">
					<h1>Our goal? To create a transdisciplinary, science-driven effort to engineer a human liver.</h1>

					<hr class="spacer20">

					<p>We’re at a watershed moment in medical history. The world’s top research teams are ready to focus on the goal of engineering a replacement liver for human transplantation. Now it’s time to come together and forge partnerships to overcome daunting technical challenges. And since hard math is a part of any bold endeavor, we’ll also determine the best strategy for leveraging grant-supported research.</p>
				</div>

				<hr class="spacer60">
				<hr class="spacer10 nomob">
				<div class="center">
					<button class="long green" data-scrollto="register_now">Register Now</button>
				</div>
				<hr class="spacer10 nomob">
			</div>
		</div>
	</div>

	<div class="org_bar nomob">
		<div class="container">
			<div class="row">
				<hr class="spacer30">

				<div class="col-lg-10 col-lg-offset-1 col-md-12">
					<div class="row">
						<div class="col-md-4 col-sm-3 col-xs-3 nomob">
							<hr class="spacer10">
							<hr class="spacer5">
							<span class="main">Summit Organizers</span>
							<span style="font-size: 13px; color: #bbb;">Click a logo to read more</span>
						</div>

						<div class="col-md-3 col-sm-3 nomob">
							<hr class="spacer5">
							<hr class="spacer20 tabonly">
							<a href="#"><img src="/images/700_logo.png" style="width: 70%; float: right;" alt=""></a>
						</div>

						<div class="col-md-2 col-sm-3 nomob">
							<a href="#"><img src="/images/sos_logo.png" style="width: 100%;  float: right;" alt=""></a>
						</div>

						<div class="col-md-3 col-sm-3 nomob">
							<hr class="spacer10">
							<hr class="spacer20 tabonly">
							<a href="#"><img src="/images/organ_logo.png" style="width: 100%;  float: right;" alt=""></a>
						</div>
					</div>
				</div>

				<hr class="spacer30">

			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer60">
		<hr class="spacer30 nomob">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Event Co-Facilitators</h2>
				</div>

				<hr class="spacer40">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-5 col-lg-offset-1">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/alex_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Alejandro Soto-Gutiérrez, MD, PhD </span>
					<span class="sub">Thomas E. Starzl Transplantation Institute, University of Pittsburgh</span>

				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-lg-5">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/jason_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Jason A. Wertheim, MD, PhD</span>
					<span class="sub">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</span>
				</div>
			</div>
		</div>
		<hr class="spacer60">
		<hr class="spacer20 nomob">
	</div>

	<div class="grayback">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="center">
						<h2 class="blue">Event Participants</h2>
					</div>

				</div>
			</div>

			<hr class="spacer60">
			<!-- <hr class="spacer60"> -->

			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-12">
					<!-- left arrow -->
					<div class="col-md-1 col-sm-1 nomob">
						<hr class="spacer60">
						<img src="/images/org_left.png" alt="">
					</div>

					<!-- five photos -->
					<div class="col-md-2 col-sm-3 mob center">
						<img src="/images/jason_portrait.png" style="width: 100%; max-width: 200px;" alt="">
					</div>
 
					<div class="col-md-2 col-sm-3 nomob">
						<img src="/images/alex_portrait.png" style="width: 100%;" alt="">
					</div>

					<div class="col-md-2 col-sm-3 nomob">
						<img src="/images/jason_portrait.png" style="width: 100%;" alt="">
					</div>

					<div class="col-md-2 nomob notab">
						<img src="/images/alex_portrait.png" style="width: 100%;" alt="">
					</div>

					<div class="col-md-2 nomob notab">
						<img src="/images/jason_portrait.png" style="width: 100%;" alt="">
					</div>

					<!-- right arrow -->
					<div class="col-md-1 col-sm-1 nomob">
						<hr class="spacer60">
						<img src="/images/org_rght.png" style="float: right;" alt="">
					</div>
				</div>

				<hr class="spacer60">
				<hr class="spacer10">

				<div class="col-md-8 col-md-offset-2">
					<div class="arrow">
						
					</div>
					<div class="white box participant_box">
						<div class="big liner">
							<h3>Richard Hill</h3>
							<span class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>

							<hr class="spacer10">

							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, magni, magnam, illo modi minima porro sit aperiam deserunt nulla beatae dicta repellat exercitationem nesciunt inventore expedita harum ipsam sapiente quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, recusandae id accusamus ut molestias adipisci aliquid tenetur cupiditate similique fugit. Inventore, earum quidem veniam quas veritatis esse cumque ullam odio!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer60" id="register_now">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Register for the Summit</h2>
				</div>

				<hr class="spacer50">
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="orange alertbox">
					<div class="row">
						<div style="float: left; margin-left: 20px;">
							<img src="/images/org_env.png" style="width: 90%" alt="">
						</div>

						<div class="col-md-10">
							<p class="bigger" style="margin-top: 5px;">The Whole Liver Replacement State-of-the-Science Summit is an invitation-only event. For more information, please <a href="mailto:contact@700forscience.org">contact us</a>.</p>
						</div>
					</div>
				</div>

				<hr class="spacer20">
				<hr class="spacer20 nomob">

			</div>
		</div>

		<div class="row">

			<div class="col-md-10 col-md-offset-1">
<!-- 				<div class="center">
					<p style="font-size: 12px;"><b>Fairmont Chicago</b>, Millenium Park, 200 North Columbus Drive, Chicago, Illinois, United States 60601</p>
				</div> -->
				<div id="summit_map">
					
				</div>
			</div>

			<!-- <div class="col-md-3">
				<div class="graybox">
					<div class="liner">
						<span class="head">Questions?</span>
						<p>
							Please <a href="#">contact us</a> for additional information.
						</p>
					</div>
				</div>
			</div> -->
		</div>

		<hr class="spacer60">

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

				<div class="center">
					<p class="bigger">Please complete the registration form below. You will receive a confirmation via email.</p>
				</div>
				<hr class="spacer40">

				<form class="summit_reg">
					<div class="row">
						<div class="col-md-3">
							<label>Full Name</label>
						</div>

						<div class="col-md-4 col-sm-6">
							<input name="first_name" type="text" placeholder="First">
						</div>

						<hr class="spacer10 mobonly">

						<div class="col-md-4 col-sm-6">
							<input name="last_name" type="text" placeholder="Last">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Professional Title</label>
						</div>

						<div class="col-md-8 col-sm-12">
							<input name="professional_title" type="text" placeholder="">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Organization</label>
						</div>

						<div class="col-md-8 col-sm-12">
							<input name="organization" type="text" placeholder="">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Email Address</label>
						</div>

						<div class="col-md-8 col-sm-12">
							<input name="email" type="text" placeholder="john@example.com">
						</div>
					</div>

					<hr class="spacer40">

					<div class="row">
						<div class="col-md-3">
							<label>Invitation Code</label>

							<!-- popover here -->
							<span class="help-block" data-html="true" data-content="You may request an invitation <a href='/contact/'>here</a>." data-placement="bottom">
								Need a code?
							</span>
						</div>

						<div class="col-md-4">
							<input name="inv_code" type="text" placeholder="XX-XX-XX">
						</div>
					</div>
					<hr class="spacer10">
					<div class="row">
						<div class="col-md-8 col-md-offset-3">
							<input type="checkbox" name="subscribe" checked> I understand that I will receive emails from wholeorgans.org
						</div>
					</div>
					<hr class="spacer60">
					<hr class="spacer30">

					<div class="center">
						<button id="submit_registration" class="long green button" style="margin-right: 8%">Register</button>
					</div>
				</form>

			</div>
		</div>

		<hr class="spacer60 nomob">
		<hr class="spacer10">

	</div>

	<div class="herounit bubblestwo" style="height: 230px;">
	</div>

</template>
