<template name="static_summit">
	<div class="herounit bubblestwo">
		<div class="container">
			<hr class="spacer60">
			<hr class="spacer30 nomob">

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="center">
						<span class="mainhead">
							<small>The Whole Liver Replacement</small><br> State-of-the-Science Summit
						</span>

						<span class="subhead">April 30, 2014 &nbsp;Chicago, USA</span>
					</div>
				</div>
			</div>

			<hr class="spacer50">
			<hr class="spacer60 notab nomob">
			<hr class="spacer60 nomob">
			<hr class="spacer30 nomob">
			<hr class="spacer30">
		</div>
	</div>

	<div class="grayback">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-10 col-lg-offset-1">
					<h1>Our goal? To create a transdisciplinary, science-driven effort to engineer a human liver.</h1>

					<hr class="spacer20">

					<p>We’re at a watershed moment in medical history. The world’s top research teams are ready to focus on the goal of engineering a replacement liver for human transplantation. Now it’s time to come together and forge partnerships to overcome daunting technical challenges. And since hard math is a part of any bold endeavor, we’ll also determine the best strategy for leveraging grant-supported research.</p>
				</div>

				<hr class="spacer60">
				<hr class="spacer10 nomob">
				<div class="center">
					<a href="#" class="long green button">Register Now</a>
				</div>
				<hr class="spacer10 nomob">
			</div>
		</div>
	</div>


	<div class="container">
		<hr class="spacer60">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Event Co-Facilitators</h2>
				</div>

				<hr class="spacer40">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-5 col-lg-offset-1">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/alex_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Alejandro Soto-Gutiérrez, MD, PhD </span>
					<span class="sub">Thomas E. Starzl Transplantation Institute, University of Pittsburgh</span>

				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-lg-5">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/jason_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Jason A. Wertheim, MD, PhD</span>
					<span class="sub">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</span>
				</div>
			</div>
		</div>
		<hr class="spacer60">
		<hr class="spacer20 nomob">
	</div>

	<div class="grayback">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="center">
						<h2 class="blue">Event Participants</h2>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer60">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Register for the Summit</h2>
				</div>

				<hr class="spacer40">
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="orange alertbox">
					<hr class="spacer10">
					<div class="row">
						<div style="float: left; margin-left: 20px;">
							<img src="/images/org_env.png" style="width: 90%" alt="">
						</div>

						<div class="col-md-10">
							<p class="bigger" style="margin-top: 5px;">The Whole Liver Replacement State-of-the-Science Summit is an invitation-only event. For more information, please <a href="mailto:contact@700forscience.org">contact us</a>.</p>
						</div>
					</div>
				</div>

				<hr class="spacer40">
				<hr class="spacer20 nomob">

			</div>
		</div>

		<div class="row">
			<div class="col-sm-8 col-md-7 col-md-offset-1">
				<p class="bigger">Please complete the registration form below. You will receive a confirmation via email.</p>
				<hr class="spacer40">

				<form action="" class="summit_reg">
					<div class="row">
						<div class="col-md-3">
							<label>Full Name</label>
						</div>

						<div class="col-md-4">
							<input type="text" placeholder="First">
						</div>

						<div class="col-md-4">
							<input type="text" placeholder="Last">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Professional Title</label>
						</div>

						<div class="col-md-8">
							<input type="text" placeholder="">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Organization</label>
						</div>

						<div class="col-md-8">
							<input type="text" placeholder="">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Email Address</label>
						</div>

						<div class="col-md-8">
							<input type="text" placeholder="john@example.com">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Invitation Code</label>

							<!-- popover here -->
							<span class="help-block" data-content="this is your popover text yarr matey" data-placement="bottom">
								Don't have one?
							</span>
						</div>

						<div class="col-md-4">
							<input type="text" placeholder="XX-XX-XX">
						</div>
					</div>
				</form>
			</div>

			<div class="col-sm-4 col-md-3">
				<img src="" style="width: 100%; height: 200px;" alt="">

				<hr class="spacer20">

				<div class="graybox">
					<div class="liner">
						<span class="head">Hotel Information</span>
						<p>
							Fairmont Chicago,<br>
							Millenium Park<br>
							200 North Columbus Drive<br>
							Chicago, Illinois<br>
							United States 60601
						</p>

						<hr class="spacer20">

						<div class="center">
							<a href="#" class="fluid green button">Get Directions</a>
						</div>

						<hr class="spacer10">
					</div>
				</div>

				<hr class="spacer20">

				<div class="graybox">
					<div class="liner">
						<span class="head">Questions?</span>
						<p>
							Please <a href="#">contact us</a> for additional information.
						</p>
					</div>
				</div>
			</div>
		</div>

		<hr class="spacer60">

	</div>

</template>
