<template name="static_summit">
	<div class="herounit bubblestwo">
		<div class="container">
			<hr class="spacer60">
			<hr class="spacer30 nomob">

			<div class="row">
				<div class="col-md-12">
					<div class="center">
						<span class="mainhead bigger">
							<small>The Whole Liver Replacement</small><br> State-of-the-Science Summit
						</span>

						<span class="subhead" style="color: #db4e4e;">April 30, 2014 &nbsp;Chicago, USA</span>
					</div>
				</div>
			</div>

			<hr class="spacer10">
			<hr class="spacer60 notab nomob">
			<hr class="spacer60 nomob">
			<hr class="spacer30 nomob">
			<hr class="spacer30">
		</div>
	</div>

	<div class="grayback">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-10 col-lg-offset-1">
					<h1>Our goal? To create a transdisciplinary, science-driven effort to engineer a human liver.</h1>

					<hr class="spacer20">

					<p>We’re at a watershed moment in medical history. The world’s top research teams are ready to focus on the goal of engineering a replacement liver for human transplantation. Now it’s time to come together and forge partnerships to overcome daunting technical challenges. And since hard math is a part of any bold endeavor, we’ll also determine the best strategy for leveraging grant-supported research.</p>
				</div>

				<hr class="spacer60">
				<hr class="spacer10 nomob">
				<div class="center">
					<button class="long green" data-scrollto="register_now">Register Now</button>
				</div>
				<hr class="spacer10 nomob">
			</div>
		</div>
	</div>

	<div class="org_bar nomob">
		<div class="container">
			<div class="row">
				<hr class="spacer30">

				<div class="col-lg-10 col-lg-offset-1 col-md-12">
					<div class="row">
						<div class="col-md-4 col-sm-3 col-xs-3 nomob">
							<hr class="spacer10">
							<hr class="spacer5">
							<span class="main">Summit Organizers</span>
							<span style="font-size: 13px; color: #bbb;">Click a logo to read more</span>
						</div>

						<div class="col-md-3 col-sm-3 nomob">
							<hr class="spacer5">
							<hr class="spacer20 tabonly">
							<a href="/organizers/#700forscience"><img src="/images/700_logo.png" style="width: 70%; float: right;" alt=""></a>
						</div>

						<div class="col-md-2 col-sm-3 nomob">
							<a href="/organizers/#sos"><img src="/images/sos_logo.png" style="width: 100%;  float: right;" alt=""></a>
						</div>

						<div class="col-md-3 col-sm-3 nomob">
							<hr class="spacer10">
							<hr class="spacer20 tabonly">
							<a href="/organizers/#organogenesis"><img src="/images/organ_logo.png" style="width: 100%;  float: right;" alt=""></a>
						</div>
					</div>
				</div>

				<hr class="spacer30">

			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer60">
		<hr class="spacer30 nomob">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Event Co-Facilitators</h2>
				</div>

				<hr class="spacer30">
				<div class="center">
					<p style="color: #aaa; font-weight: 300;">Click a facilitator to read more.</p>
				</div>
				<hr class="spacer30">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-5 col-lg-offset-1">
				<div class="liner snapshot extend">
					<a class="part_info" data-toggle="modal" data-target="#alex">
						<div class="center">
							<img src="/images/alex_portrait.png" alt="">
						</div>

						<hr class="spacer30">

						<span class="main">Dr. Alejandro Soto-Gutiérrez, MD, PhD </span>
						<span class="sub">Department of Pathology, McGowan Institute for Regenerative Medicine and Thomas E. Starzl Transplantation Institute University of Pittsburgh</span>
					</a>

				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-lg-5">
				<div class="liner snapshot extend">
					<a class="part_info" data-toggle="modal" data-target="#jason">
						<div class="center">
							<img src="/images/jason_portrait.png" style="max-width: 169px;" alt="">
						</div>

						<hr class="spacer30">

						<span class="main">Dr. Jason A. Wertheim, MD, PhD</span>
						<span class="sub">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</span>
					</a>
				</div>
			</div>
		</div>
		<hr class="spacer60">
		<hr class="spacer20 nomob">
	</div>

	<div class="grayback participants" id="participants">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="center">
						<h2 class="blue">Event Participants</h2>
					</div>

				</div>
			</div>

			<hr class="spacer30 nomob">
			<hr class="spacer20 mobonly">
			<div class="center">
				<p style="color: #aaa; font-weight: 300;">Click a participant to read more.</p>
			</div>
			<hr class="spacer30 nomob">

			<div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<div class="row">

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#alpini">
						<div class="center">
							<img class="center nomob" src="/images/alpini.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Gianfranco Alpini, PhD</span>
							<p class="nomob">Professor of Internal Medicine, Systems Biology and Translational Medicine, College of Medicine, Texas A&M University Health Science Center</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#duncan">
						<div class="center">
							<img class="center nomob" src="/images/duncan.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Stephen A. Duncan, DPhil</span>
							<p class="nomob">Marcus Professor of Human and Molecular Genetics, Vice-Chairman, Cell Biology, Neurobiology & Anatomy, Director, MCW Program in Regenerative Medicine and Stem Cell Biology, Medical College of Wisconsin</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#fox">
						<div class="center">
							<img class="center nomob" src="/images/fox.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Ira Fox, PhD</span>
							<p class="nomob">McGowan Institute for Regenerative Medicine, Center for Innovative Regenerative Therapies, Children's Hospital of Pittsburgh</p>
						</div>
						</a>
					</div>


					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#garcia-cardena">
						<div class="center">
							<img class="center nomob" src="/images/garcia-cardena2.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Guillermo Garcia-Cardena, PhD</span>
							<p class="nomob">Associate Professor of Pathology, Harvard Medical School; Director of Laboratory Systems Biology, Brigham and Women's Hospital</p>
						</div>
						</a>
					</div>

				</div>

				<hr class="spacer60 nomob">

				<div class="row">
					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#gilbert">
						<div class="center">
							<img class="center nomob" src="/images/gilbert.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Thomas W. Gilbert, PhD</span>
							<p class="nomob">Vice President, Research & Development, ACell</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#huppert">
						<div class="center">
							<img class="center nomob" src="/images/huppert.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Stacey S. Huppert, PhD</span>
							<p class="nomob">Associate Professor, Division of Gastroenterology, Hepatology & Nutrition Division of Developmental Biology, Cincinnati Children’s Hospital Medical Center</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#nyberg">
						<div class="center">
							<img class="center nomob" src="/images/nyberg.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Scott L. Nyberg, MD, PhD</span>
							<p class="nomob">Artificial Liver and Liver Transplantation, Mayo Clinic</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#rudnick">
						<div class="center">
							<img class="center nomob" src="/images/rudnick.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. David Rudnick, MD, PhD</span>
							<p class="nomob">Associate Professor of Pediatrics and Developmental Biology, Washington University School of Medicine</p>
						</div>
						</a>
					</div>
 				
				</div>

				<hr class="spacer60 nomob">

				<div class="row">

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#squires">
						<div class="center">
							<img class="center nomob" src="/images/squires.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Robert H. Squires, Jr. MD</span>
							<p class="nomob">Professor of Pediatrics, Division of Pediatric Gastroenterology, University of Pittsburgh School of Medicine</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#strom">
						<div class="center">
							<img class="center nomob" src="/images/strom.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Stephen Strom, PhD</span>
							<p class="nomob">Professor of Cell Transplantation Research, Department of Laboratory Medicine, Karolinska Institutet</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#takebe">
						<div class="center">
							<img class="center nomob" src="/images/takebe2.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Takanori Takebe, MD</span>
							<p class="nomob">Associate Professor, Department of Regenerative Medicine, Yokohama City University Graduate School of Medicine</p>
						</div>
						</a>
					</div>

					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#wagner">
						<div class="center">
							<img class="center nomob" src="/images/wagner3.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. William R. Wagner, PhD</span>
							<p class="nomob">Director, McGowan Institute; Professor of Surgery, Bioengineering and Chemical Engineering, University of Pittsburgh</p>
						</div>
						</a>
					</div>

				</div>

				<hr class="spacer60 nomob">

				<div class="row">
					<div class="col-md-3">
						<a class="part_info" data-toggle="modal" data-target="#willenbring">
						<div class="center">
							<img class="center nomob" src="/images/willenbring.png" style="width: 90%;" alt="">

							<hr class="spacer20">

							<span class="main">Dr. Holger Willenbring, MD, PhD</span>
							<p class="nomob">Eli and Edythe Broad Center of Regeneration Medicine and Stem Cell Research, UCSF Liver Center</p>
						</div>
						</a>
					</div>
				</div>
			</div>

			<hr class="spacer20">
		</div>
	</div>


	
	<!-- ========================================== END PARTICIPANTS -->


	<div class="fullwidthline"></div>
	<hr class="spacer20">

	<!-- ================================================= 
	====================================================== SUMMIT REGISTRATION -->
	<div class="container">
		<hr class="spacer60" id="register_now">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Register for the Summit</h2>
				</div>

				<hr class="spacer50">
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="orange alertbox">
					<div class="row">
						<div style="float: left; margin-left: 20px;">
							<img src="/images/org_env.png" style="width: 90%" alt="">
						</div>

						<div class="col-md-10">
							<p class="bigger" style="margin-top: 5px;">The Whole Liver Replacement State-of-the-Science Summit is an invitation-only event. For more information, please <a href="/contact/">contact us</a>.</p>
						</div>
					</div>
				</div>

				<hr class="spacer20">
				<hr class="spacer20 nomob">

			</div>
		</div>

		<div class="row">

			<div class="col-md-10 col-md-offset-1">
<!-- 				<div class="center">
					<p style="font-size: 12px;"><b>Fairmont Chicago</b>, Millenium Park, 200 North Columbus Drive, Chicago, Illinois, United States 60601</p>
				</div> -->
				<div id="summit_map">
					
				</div>
			</div>

			<!-- <div class="col-md-3">
				<div class="graybox">
					<div class="liner">
						<span class="head">Questions?</span>
						<p>
							Please <a href="#">contact us</a> for additional information.
						</p>
					</div>
				</div>
			</div> -->
		</div>

		<hr class="spacer60">

		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

				<div class="center">
					<p class="bigger">Please complete the registration form below. You will receive a confirmation via email.</p>
				</div>
				<hr class="spacer40">

				<form class="summit_reg">
					<div class="row">
						<div class="col-md-3">
							<label>Full Name</label>
						</div>

						<div class="col-md-4 col-sm-6">
							<input name="first_name" type="text" placeholder="First">
						</div>

						<hr class="spacer10 mobonly">

						<div class="col-md-4 col-sm-6">
							<input name="last_name" type="text" placeholder="Last">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Professional Title</label>
						</div>

						<div class="col-md-8 col-sm-12">
							<input name="professional_title" type="text" placeholder="">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Organization</label>
						</div>

						<div class="col-md-8 col-sm-12">
							<input name="organization" type="text" placeholder="">
						</div>
					</div>

					<hr class="spacer20">

					<div class="row">
						<div class="col-md-3">
							<label>Email Address</label>
						</div>

						<div class="col-md-8 col-sm-12">
							<input name="email" type="text" placeholder="john@example.com">
						</div>
					</div>

					<hr class="spacer40">

					<div class="row">
						<div class="col-md-3">
							<label>Invitation Code</label>

							<!-- popover here -->
							<span class="help-block" data-html="true" data-content="You may request an invitation <a href='/contact/'>here</a>." data-placement="bottom">
								Need a code?
							</span>
						</div>

						<div class="col-md-4">
							<input name="inv_code" type="text" placeholder="XXXXXX">
						</div>
					</div>

					<hr class="spacer60">

					<div class="row">
						<div class="col-md-8 col-md-offset-3">
							<input type="checkbox" style="display: inline;" name="subscribe" checked> <span style="display: inline">Yes, please send updates from wholeorgan.org.</span>
						</div>
					</div>
					<hr class="spacer40">

					<div class="center">
						<button id="submit_registration" class="long green button" style="margin-right: 8%">Register</button>
					</div>
				</form>

			</div>
		</div>

		<hr class="spacer60 nomob">
		<hr class="spacer10">

	</div>

	<div class="herounit bubblestwo" style="height: 230px;">
	</div>



<!-- ==================================================================
=======================================================================
=======================================================================
=======================================================================
=======================================================================
================================================== MODALS ========= -->
	<div class="modal fade" id="jason" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Jason A. Wertheim, MD, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/jason_portrait.png" style="max-width: 175px;" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Assistant Professor of Surgery - Organ Transplantation Department of Surgery, Feinberg School of Medicine;  Department of Biomedical Engineering, McCormick School of Engineering; Institute for BioNanotechnology in Medicine Chemistry of Life Processes Institute at Northwestern University and Jesse Brown VA Medical Center</span>

		      	<hr class="spacer10">
		      	
		       	<p>Dr. Jason Wertheim is a transplant surgeon whose research focuses on discovering new methods to develop livers, kidneys, and other organs in the laboratory to alleviate the problem of organ shortage. His research involves a multidisciplinary tissue engineering and regenerative medicine approach to develop organ scaffolds that support the growth of new cells that will eventually become whole organs.</p>

				<p>Dr. Wertheim joined Northwestern University's Department of Surgery in August 2011. He completed a clinical fellowship in multi-organ transplant surgery at the UCLA Medical Center and a residency in general surgery at the Massachusetts General Hospital in Boston. Dr. Wertheim received a BS in Chemical Engineering from the Massachusetts Institute of Technology and was awarded both a PhD degree in Bioengineering and an MD from the University of Pennsylvania. In 2012, he received the "Liver Scholar Award" for his research in organ engineering. That same year he was appointed co-Editor-in-Chief of Organogenesis, a peer-reviewed and Pubmed-referenced journal that focuses on organ and tissue engineering and stem cell research.</p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="alex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Alejandro Soto-Gutiérrez, MD, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/alex_portrait.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Thomas E. Starzl Transplantation Institute, University of Pittsburgh</span>

		      	<hr class="spacer10">
		      	
		       	<p>Dr. Soto-Gutierrez and his team are focused on the development of new technologies for organ replacement using regenerative medicine approaches, including bioengineering, cell therapy and organ assembly to treat liver failure.</p>
 
				<p>Prior to this he was a research instructor in the department of surgery at the University of Pittsburgh and a faculty member in the Center for Innovative Pediatric Regenerative Therapies, a joint program of the University of Pittsburgh School of Medicine's Department of Surgery, the McGowan Institute, and Children's Hospital of Pittsburgh of UPMC.</p>
 
				<p>Dr. Soto-Gutiérrez earned his medical degree at the University of Guadalajara, Mexico. While working on his doctorate, he completed a surgical fellowship at the department of surgery of Okayama University Graduate School of Medicine and Dentistry, Japan, where he wrote his dissertation on liver tissue engineering.</p>

				<p>His major research interests focus on the development of experimental technologies to treat hepatic diseases using bioengineering techniques, cell transplantation and organ engineering. He is currently researching engineering and transplantation of hepatic grafts with decellularized native matrices, liver regeneration, repopulation, development and stem cell differentiation.</p>
				 
				<p>He is member of the National System of Investigators (SNI) Level 2 from the National Council of Science and Technology (CONACYT), Mexico. He won the 2008 Clinical Research Award for a Post-Graduate Fellow in Transplantation from the New England Organ Bank and the 2009 Thomas E. Starzl, MD Postdoctoral Research Award from the American Liver Foundation. He has been awarded a National Institutes of Health Pathway to Independence Award (K99/R00). He is author of more than fifty peer-reviewed publications, six book chapters and edited a book on methods in cell transplantation. He speaks English, Spanish, French, and Japanese.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="gilbert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Thomas W. Gilbert, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/gilbert.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Vice President, Research & Development, ACell</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Gilbert previously served as Assistant Professor of Surgery, Cardiothoracic Surgery, and Bioengineering at the University of Pittsburgh and was a faculty member of the McGowan Institute for Regenerative Medicine. His research includes the study of processing and use of extracellular matrix scaffold materials (including urinary bladder matrix) for development of regenerative medicine strategies in a variety of body systems. Dr. Gilbert’s research is funded by the National Institutes of Health and the National Science Foundation. </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="huppert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Stacey S. Huppert, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/huppert.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Associate Professor, Division of Gastroenterology, Hepatology & Nutrition Division of Developmental Biology, Cincinnati Children’s Hospital Medical Center</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Huppert is Associate Professor at the Cincinnati Children’s Hospital Medical Center. Her work focuses on hepatic development and regeneration, three-dimensional hepatic architecture, Notch signaling and hepatobiliary disease. The Huppert Lab researches intercellular signaling pathways that regulate cell fate decisions and lineage restriction during organogenesis and adult cell population renewal.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="rudnick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. David Rudnick, MD, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/rudnick.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Associate Professor of Pediatrics and Developmental Biology, Washington University School of Medicine</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Rudnick is Associate Professor of Pediatrics and of Developmental Biology at the Washington University School of Medicine. His research is on the mechanisms that regulate liver regeneration. The Rudnick Lab uses partial hepatectomy and other models of liver regeneration in pharmacologically- and genetically-manipulated mouse models, together with genomic, proteomic and metabolomic analytical platforms, to investigate the signals required during normal regeneration.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="takebe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Takanori Takebe, MD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/takebe2.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Associate Professor, Department of Regenerative Medicine, Yokohama City University Graduate School of Medicine</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Takebe is Associate Professor of Regenerative Medicine at Yokohama City University. Dr. Takebe and his team grew and transplanted the first vascularized human liver buds from induced pluripotent stem cells into mice.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="strom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Stephen Strom, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/strom.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Professor of Cell Transplantation Research, Department of Laboratory Medicine, Karolinska Institutet</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Strom is Professor of Cell Transplantation Research in the Karolinska Institutet’s Department of Laboratory Medicine. His current work focuses on regenerative medicine in conjunction with diseases and conditions affecting the liver. The Strom research group has received FDA approval for the transplantation of hepatocytes – developed by his lab – into patients with liver diseases. </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="wagner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. William R. Wagner, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/wagner3.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Director, McGowan Institute; Professor of Surgery, Bioengineering and Chemical Engineering, University of Pittsburgh</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Wagner is a Professor of Surgery, Bioengineering and Chemical Engineering and serves as Director of the McGowan Institute for Regenerative Medicine.  He also serves as the Deputy Director of the NSF Engineering Research Center on Revolutionizing Metallic Biomaterials and is the Founding Editor and Editor-in-Chief of <i>Acta Biomaterialia</i>.  Dr. Wagner's research interests are generally in the area of cardiovascular engineering with projects that address medical device biocompatibility and design, tissue engineering and targeted imaging.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="squires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Robert H. Squires, Jr. MD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/squires.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Professor of Pediatrics, Division of Pediatric Gastroenterology, University of Pittsburgh School of Medicine</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Squires joined Children’s Hospital of Pittsburgh as clinical director, Division of Pediatric Gastroenterology, and director of Hepatology in 2003.  He has extensive experience in pediatric liver disease and is a national primary investigator for the National Institutes of Health-funded Pediatric Acute Liver Failure Study.  He is also a member of the NIH-funded Biliary Atresia Research Consortium, a national study of the serious disorder that prevents bile from leaving the liver of afflicted infants.</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	
	<div class="modal fade" id="five" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Elizabeth De Leon</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/helen.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, vero, labore quo amet quaerat quidem voluptates.</span>

		      	<hr class="spacer10">
		      	
		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo debitis ducimus aliquid ratione quibusdam odit totam soluta vel! Asperiores, labore, impedit eveniet expedita earum magnam totam suscipit facilis repellendus cumque.</p>

		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi itaque deserunt ipsum qui totam quisquam impedit? Aliquid, placeat quae ad provident dolor necessitatibus a tempora expedita. Ullam nulla in fugit.</p>

		        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, incidunt voluptates cupiditate iste non excepturi rem unde mollitia impedit nam sed aut magni placeat molestias eligendi et ducimus ipsa expedita?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="modal fade" id="nyberg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Scott L. Nyberg, MD, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/nyberg.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Artificial Liver and Liver Transplantation, Mayo Clinic</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Nyberg is focused on the development of a multidisciplinary bioartificial liver program to improve the treatment of patients with liver failure and support the Mayo Clinic clinical liver transplant program. His research team is focused on cell-based therapies, SRBAL and FAH-deficient pigs.</p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="modal fade" id="fox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Ira Fox, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/fox.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		        <span class="subhead">Professor of Surgery, Medical Director of the McGowan Institute for Regenerative Medicine; Director of the Center for Innovative Regenerative Therapies, Children's Hospital of Pittsburgh</span>

		      	<hr class="spacer10">
		      	
		        <p>Dr. Fox is the Director of the Center for Innovative Pediatric Regenerative Therapies, a joint program of the University of Pittsburgh School of Medicine’s Department of Surgery, the McGowan Institute and Children’s Hospital of Pittsburgh of UPMC. His primary research focus is to find treatments for diseases resulting from liver cell dysfunction. Other research efforts include developing alternative ways to regenerate damaged liver cells and overcoming barriers to the use of liver cell transplantation in the treatment of hepatic diseases.</p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div class="modal fade" id="willenbring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Holger Willenbring, MD, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/willenbring.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		      	<span class="subhead">Associate Professor, Developmental and Stem Cell Biology Division of Transplant Surgery, Eli and Edythe Broad Center of Regeneration Medicine; Stem Cell Research Associate Director, UCSF Liver Center</span>

		      	<hr class="spacer10">

		        <p>Dr. Willenbring is an Associate Professor in Transplant Surgery and the Eli and Edythe Broad Center of Regeneration Medicine and Stem Cell Research and Associate Director of the Liver Center at the University of California San Francisco. His research interest is in liver regeneration, with a particular focus on the development of autologous liver cell therapies. </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="alpini" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Gianfranco Alpini, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/alpini.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		      	<span class="subhead">Professor of Internal Medicine, Systems Biology and Translational Medicine, College of Medicine, Texas A&M University Health Science Center </span>

		      	<hr class="spacer10">

		        <p>Dr. Alpini is Professor of Internal Medicine, Systems Biology and Translational Medicine and the Dr. Nicholas C. Hightower Centennial Chair of Gastroenterology at the College of Medicine, Texas A&M University Health Science Center. His research focuses on the pathophysiology of intrahepatic bile duct epithelial cells or cholangiocytes, which line the intrahepatic biliary tree inside the liver. </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="duncan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Stephen A. Duncan, DPhil</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/duncan.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		      	<span class="subhead">Marcus Professor of Human and Molecular Genetics, Vice-Chairman, Cell Biology, Neurobiology & Anatomy, Director, MCW Program in Regenerative Medicine and Stem Cell Biology, Medical College of Wisconsin</span>

		      	<hr class="spacer10">

		        <p>Dr. Duncan's research focuses on molecular mechanisms underlying mammalian organ development. His uses mice and stem cells to understand the contribution of transcription factors during embryonic development and function of the liver, pancreas, and heart. In addition, the group has developed technologies to control differentiation of stem cells into liver, pancreatic, and cardiac mycoytes. </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="modal fade" id="garcia-cardena" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Dr. Guillermo Garcia-Cardena, PhD</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="center">
		      		<img src="/images/garcia-cardena2.png" alt="">
		      		<hr class="spacer30">
		      	</div>
		      	<span class="subhead">Associate Professor of Pathology, Harvard Medical School; Director of Laboratory Systems Biology, Brigham and Women's Hospital</span>

		      	<hr class="spacer10">

		        <p>Dr. Garcia-Cardena is an Associate Professor of Pathology at Harvard Medical School and the Director of the Laboratory for Systems Biology at the Center for Excellence in Vascular Biology, Brigham and Women's Hospital in Boston. Dr. Garcia-Cardena's lab uses cellular, molecular, mouse genetics, bioengineering and bioinformatics tools to understand how mechanical forces generated by the flow of blood act on endothelial cells to activate signaling pathways critical for flow-mediated vasoprotection in the context of human cardiovascular disease, and for cellular specification during developmental processes. </p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</template>
