<template name="static_organizers">

	<!-- header area -->
	<div class="herounit">
		<div class="container">
			<div class="watermark three">
				<div class="row">
					<div class="col-md-11 col-lg-11">
						<hr class="spacer60">
						<span class="mainhead">
							Our Supporters
						</span>

						<hr class="spacer50">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- quote area -->
	<div class="grayback">
		<div class="container quote">
			<div class="row">
				<div class="col-md-12">
					<div class="liner small">
						<span class="main">Science is at its best when there's a tour de force to meet a great challenge.</span>
						<hr class="spacer10 hidden-xs">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer60 hidden-xs">
		<hr class="spacer60">

		<h1>Consortium Coordinator</h1>
		<hr class="spacer10">
		<div class="dark fullwidthline"></div>
		<hr class="spacer60">

		<div class="row" id="sos">
			<div class="col-md-5 col-sm-5">
				<hr class="spacer20 hidden-xs">
				<div class="center">
					<img src="/images/sos_logo3.png" style="width: 88%;" alt="">

					<hr class="spacer40 visible-xs">
				</div>
			</div>

			<div class="col-md-7 col-sm-7 col-xs-12">
				<h1>SOS Solving Organ Shortage</h1>
				<hr class="spacer10">
				<p class="bigger">SOS is an international non-profit specifically formed to support the Whole Organ Research Consortium by providing administrative assistance, generating awareness of its purpose and achievements, and soliciting funds to support its research efforts. <a href="http://www.solvingorganshortage.org" target="_blank">Visit Website &raquo;</a></p>
			</div>
		</div>

	</div>


	<hr class="spacer60 hidden-xs">
	<hr class="spacer60">

<div class="grayback">
	<div class="container organizers">
		<h1>Supporters</h1>
		<hr class="spacer10">
		<div class="dark fullwidthline"></div>
		<hr class="spacer40">

		<div class="row">
			<div class="col-md-12">

				<hr class="spacer50 hidden-xs">

				<div class="row" id="700forscience">
					<div class="col-md-4 col-sm-4">
						<hr class="spacer20">
						<div class="center">
							<img src="/images/darkerlogo2.png" style="width: 85%;" alt="">

							<hr class="spacer40 visible-xs">
						</div>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<h1 class="orgtitle hidden-xs">700 for Science</h1>
						<!-- <span class="subhead">We support innovative projects and novel, early-stage technologies that hold great promise for society.</span> -->
						<hr class="spacer10">
						<p>700 for Science is a global non-profit organization that serves as both a catalyst and advocate for bold biotech initiatives. Our members comprise a bottom-up support system for the Whole Organ Research Consortium's mission. <a href="http://www.700forscience.org" target="_blank">Visit Website &raquo;</a></p>
					</div>
				</div>

				<hr class="spacer60 hidden-xs">
				<hr class="spacer60">
				<hr class="spacer30">

				<div class="row" name="organogenesis">
					<div class="col-md-4 col-sm-4">
						<hr class="spacer10">
						<div class="center">
							<img src="/images/organogenesis_logo.png" style="width: 94%; " alt="">
							<hr class="spacer10 mobonly">
						</div>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<h1 class="orgtitle hidden-xs">Organogenesis</h1>
						<!-- <span class="subhead">We publish significant advances in all aspects of organ development.</span> -->

						<hr class="spacer10">

						<p>Organogenesis is a rigorously peer-reviewed scholarly journal publishing significant advances in all aspects of organ development, including tissue engineering, artificial organs and organ substitutes. The journal will  manage the initial collection, publication and dissemination of information papers emerging from WholeOrgan's State-of-the-Science Summits. The journal will also develop individual post-Summit reports. All materials will be freely available to the public and scholars worldwide via the journal and Consortium website. <a href="http://www.landesbioscience.com/journals/organogenesis" target="_blank">Visit Website &raquo;</a></p>
					</div>
				</div>

				<hr class="spacer60 hidden-xs">
				<hr class="spacer60">
				<hr class="spacer30">

				<div class="row" name="mcgowan">
					<div class="col-md-4 col-sm-4">
						<div class="center">
							<img src="/images/mcgowan2.png" style="width: 94%; " alt="">
							<hr class="spacer10 mobonly">
						</div>
					</div>

					<div class="col-md-8 col-sm-8 col-xs-12">
						<hr class="spacer10">
						<h1 class="orgtitle hidden-xs">McGowan Institute for Regenerative Medicine</h1>
						<!-- <span class="subhead">Illo reiciendis aut nam nihil sit cupiditate ducimus iste facilis incidunt quos in doloremque dignissimos itaque nulla a minima quaerat et deleniti.</span>

						<hr class="spacer10"> -->

						<p>McGowan Institute develops innovative clinical protocols and pursues rapid commercial transfer of its technologies for regenerative medicine. It is also committed to the education and training of the next generation of scientists, clinicians and engineers carrying the field forward. <a href="http://www.mirm.pitt.edu/" target="_blank">Visit Website &raquo;</a></p>
					</div>
				</div>

				<hr class="spacer60 nomob">
				<hr class="spacer60 nomob">
				<hr class="spacer40 nomob">
			</div> <!-- cols -->
		</div> <!-- row -->
	</div>
	</div> <!-- contain -->

</template>