<template name="attendee_list">

	<hr class="spacer60">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Attendee list</h1>
				<hr class="spacer30">
				<table class="table table-hover">
					<tr>
						<th>Organization</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
						<th>Mailchimp sub</th>
					</tr>
					{{#each attendees}}
					<tr>
						<td>{{organization}}</td>
						<td>{{first_name}}</td>
						<td>{{last_name}}</td>
						<td>{{email}}</td>
						<td>{{#if $eq subscribe "on"}}Yes{{else}}No{{/if}}</td>
					</tr>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</template>
