<template name="admin_login">

	<hr class="spacer60">
	<hr class="spacer60">

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="center">
					<h3>SOS Administrator Login</h3>
					<hr class="spacer20">
					<form class="admin_login_form" action"action">
						<input name="username" placeholder="email address" type="text">
						<hr class="spacer20">
						<input name="password" placeholder="password" type="password">
						<hr class="spacer20">
						<button class="orange button fillwidth" type="submit">Sign In</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<hr class="spacer60">
	<hr class="spacer60">
	<hr class="spacer60">
</template>
