<template name="base">
<div id="wrap">

<!-- header -->
<div class="header">
	<div class="main container">

		<div class="row">

			<!-- wholeorgan.org logo -->
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
				<a href="/"><div class="logo" alt="wholeorgan.org">
					<img src="/images/wo_logo_new.png" alt="">
				</div></a>
			</div>


			<!-- main site navigation -->
			<div class="col-sm-8 col-md-8 col-lg-9">
				<ul class="nav">
					<!-- <li>
						<a href="/about/">
						<span class="head">About</span>
						<span class="subhead">Lorem ipsum dolor sit</span>
						</a>
					</li> -->

					<li>
						<a href="/summit/">
						<span class="head">Summit</span>
						<span class="subhead">Who, when, and where</span>
						</a>
					</li>

					<li>
						<a href="/organizers/">
						<span class="head">Organizers</span>
						<span class="subhead">Fostering collaborations</span>
						</a>
					</li>

					<li>
						<a href="/contact/">
						<span class="head">Contact</span>
						<span class="subhead">Questions or comments</span>
						</a>
					</li>
				</ul>
			</div>

			<!-- mobile site navigation -->
			<div class="col-xs-12">
				<ul class="nav_mob">
					<li class="standout">Navigate:</li>
					<li><a href="/summit/">Summit</a></li>
					<li><a href="/organizers/">Organizers</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>

			<div class="clear"></div>

		</div>

	</div>
</div>



	
	<!-- the yield handlebars tag is where the content template is rendered to. also don't wrap this in a container, do it within the content template itself. thx. -->
	{{yield}}






</div>

<!-- footer -->
<div class="footer">
	<div class="secondary_nav">
		<div class="container">
			<div class="col-md-12 col-lg-12">
			<div class="row">
				<ul class="snav">
					<li><a href="/">Home</a></li>
					<li><a href="/summit/">The Summit</a></li>
					<li><a href="/organizers/">Supporters</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer30">
		<div class="col-md-12 col-lg-12">
		<div class="row">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<p>WholeOrgan.org is administered by SOS Solving Organ Shortage — a nonprofit that promotes a unifying vision of solving the organ shortage through close scientific collaboration and inspired public policy. <a href="#">Learn More »</a></p>
				<hr class="spacer20">
				<img src="/images/sos_logo3.png" style="width: 80%;" alt="">
			</div>

			<div class="col-md-8">
				<div class="row">
					<div class="col-md-7">
						<hr class="spacer20 mobonly">
						<h2>Sign up for updates</h2>
						<p>Receive the latest updates on published research and news from the Whole Organ Research Consortium and its members.</p>

						<div class="input-group" style="width: 99%;">
					      <input name="footer-mail-address" type="text" class="form-control">
					      <span class="input-group-btn">
					        <button id="footer-mail-button" class="btn btn-default" type="button">Sign Up</button>
					      </span>
					    </div><!-- /input-group -->
						
					</div>

					<div class="col-md-5">
						<hr class="spacer20 mobonly">
						<h2>Connect with us</h2>
						<p>Questions? Suggestions? Contact us.
						<br><br>+1.512.637.6762
						<br><a href="mailto:contact@wholeorgan.org">contact@wholeorgan.org</a>.</p>
						
					</div>
				</div>
				<hr class="spacer20">

				<div class="row">
					<div class="col-md-12">
						<hr class="spacer20">
						<span class="boop">&copy; 2014 Whole Organ Research Consortium — All Rights Reserved. 

							<ul>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</span>
						<hr class="spacer10">
					</div>
				</div>
			</div> <!-- row -->
		</div>
		</div>

		
		</div>
	</div> <!-- container -->

	<hr class="spacer30">
</div>

</template>
