<template name="base">
<div id="wrap">

<!-- header -->
<div class="header">
	<div class="main container">

		<div class="row">

			<!-- wholeorgan.org logo -->
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 col-lg-offset-1">
				<a href="/"><div class="logo" alt="wholeorgan.org"></div></a>
			</div>


			<!-- main site navigation -->
			<div class="col-sm-8 col-md-8 col-lg-7">
				<ul class="nav">
					<li>
						<a href="/summit/">
						<span class="head">Summit</span>
						<span class="subhead">Who, when, and where</span>
						</a>
					</li>

					<li>
						<a href="/organizers/">
						<span class="head">Organizers</span>
						<span class="subhead">Fostering collaborations</span>
						</a>
					</li>

					<li>
						<a href="/contact/">
						<span class="head">Contact</span>
						<span class="subhead">Questions or comments</span>
						</a>
					</li>
				</ul>
			</div>

			<!-- mobile site navigation -->
			<div class="col-xs-12">
				<ul class="nav_mob">
					<li class="standout">Navigate:</li>
					<li><a href="/summit/">Summit</a></li>
					<li><a href="/organizers/">Organizers</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>

			<div class="clear"></div>

		</div>

	</div>
</div>



	
	<!-- the yield handlebars tag is where the content template is rendered to. also don't wrap this in a container, do it within the content template itself. thx. -->
	{{yield}}






</div>

<!-- footer -->
<div class="footer">
	<div class="secondary_nav">
		<div class="container">
			<div class="col-md-12 col-lg-10 col-lg-offset-1">
			<div class="row">
				<ul class="snav">
					<li><a href="/">Home</a></li>
					<li><a href="/summit/">The Summit</a></li>
					<li><a href="/organizers/">Organizers</a></li>
					<li><a href="/contact/">Contact</a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>

	<div class="container">
		<hr class="spacer40">

		<div class="col-md-12 col-lg-10 col-lg-offset-1">
		<div class="row">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<h2>About wholeorgan.org</h2>
				<p>An international State-of-the-Science Summit on Whole Liver Replacement organized to foster and facilitate transdisciplinary scientific collaboration. <a href="#">Learn More.</a></p>
			</div>

			<div class="col-md-5 col-sm-5">
				<hr class="spacer20 mobonly">
				<h2>Sign up for updates</h2>
				<p>Join our mailing list to get the latest from wholeorgan.org.</p>

				<div class="input-group" style="width: 99%;">
			      <input name="footer-mail-address" type="text" class="form-control">
			      <span class="input-group-btn">
			        <button id="footer-mail-button" class="btn btn-default" type="button">Sign Up</button>
			      </span>
			    </div><!-- /input-group -->
				
			</div>

			<div class="col-md-3 col-sm-3">
				<hr class="spacer20 mobonly">
				<h2>Connect with us</h2>
				<p>for updates and developments.</p>
				<a href="http://www.twitter.com/wholeorgan">
					<img src="/images/twitter.png" alt="" class="social">
				</a>
				<!-- <a href="#">
					<img src="/images/youtube.png" style="margin-top: 1px; margin-left: 4px" alt="" class="social">
				</a> -->
				<a href="https://www.facebook.com/pages/WholeOrganorg/731205843575095">
					<img src="/images/facebook.png" alt="" style="margin-bottom: 2px" class="social">
				</a>
			</div>
		</div>
		</div>

		<div class="row">
			<hr class="spacer20">
			<span class="boop">&copy; 2013 WholeOrgan.org
				<ul>
					<li><a href="/organizers/">About</a></li>
				</ul>
			</span>
			<hr class="spacer10">
		</div>

		
		</div>
	</div>
</div>

</template>
