
<template name="home">
	<div class="herounit bubblesone">
		<div class="container">
			<div class="row">
				<div class="col-md-11 col-lg-11 col-lg-offset-1">
					<hr class="spacer40">
					<hr class="spacer60 nomob">

					<span class="mainhead">
						Engineering replacement organs.<br>What's next?
					</span>
					<hr class="spacer50">

					<a href="/summit/" class="long orange button">Register</a>

					<hr class="spacer60">
					<hr class="spacer60">
					<hr class="spacer20">
				</div>
			</div>
		</div>
	</div>
	
	<div class="grayback">
		<div class="container">

			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<!-- SEO purposes -->
					<h1 class="center">Find out. Attend the Whole Liver Replacement State-of-the-Science Summit.</h1>
				</div>
			</div>

			<hr class="spacer30">

			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
					<p class="center">Great technical challenges must be resolved if we are to engineer whole organs.<br> On April 30, 2014, the world’s recognized experts are gathering to form a transdisciplinary international scientific consortium.</p>
				</div>
			</div>

			<hr class="spacer60">
			<hr class="spacer20">

			<div class="center">
				<a href="/summit/" class="blue button center">About the Summit</a>
			</div>

			<hr class="spacer30">

		</div>
	</div>

	<div class="container">
		<hr class="spacer60">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Meet the Co-Facilitators</h2>
				</div>

				<hr class="spacer60">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-5 col-lg-offset-1">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/alex_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Alejandro Soto-Gutiérrez, MD, PhD </span>
					<span class="sub">Department of Pathology, McGowan Institute for Regenerative Medicine and Thomas E. Starzl Transplantation Institute University of Pittsburgh</span>

					<hr class="spacer10">

					<p>Dr. Soto-Gutierrez and his team are focused on the development of new technologies for organ replacement using regenerative medicine approaches, including bioengineering, cell therapy and organ assembly to treat liver failure.</p>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-lg-5">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/jason_portrait.png" style="max-width: 169px;" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Jason A. Wertheim, MD, PhD</span>
					<span class="sub">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</span>

					<hr class="spacer10">

					<p>Dr. Wertheim's laboratory is focused on tissue engineering and regenerative medicine approaches to building solid kidneys and livers for use in transplantation.</p>
				</div>
			</div>
		</div>

		<hr class="spacer30 mobonly">
		<hr class="spacer30 nomob">
		<hr class="spacer40 nomob">

		<div class="row">
			<div class="center">
				<a href="/summit/" class="long orange button">Join Us</a>
			</div>
		</div>

		<hr class="spacer60">
		<hr class="spacer10">
		<hr class="spacer30 nomob">
	</div>

	<div class="org_bar gray nomob">
		<div class="container">
			<div class="row">
				<hr class="spacer30">

				<div class="col-lg-10 col-lg-offset-1 col-md-12">
					<div class="row">
						<div class="col-md-4 col-sm-3 col-xs-3 nomob">
							<hr class="spacer10">
							<hr class="spacer5">
							<span class="main">Summit Organizers</span>
							<span style="font-size: 13px; color: #bbb;">Click a logo to read more</span>
						</div>

						<div class="col-md-3 col-sm-3 nomob">
							<hr class="spacer5">
							<hr class="spacer20 tabonly">
							<div class="center">
								<a href="#"><img src="/images/darkerlogo2.png" style="width: 70%;" alt=""></a>
							</div>
						</div>

						<div class="col-md-2 col-sm-3 nomob">
							<a href="#"><img src="/images/sos_logo2.png" style="width: 100%;" alt=""></a>
						</div>

						<div class="col-md-3 col-sm-3 nomob">
							<hr class="spacer10">
							<hr class="spacer20 tabonly">
							<a href="#"><img src="/images/organogenesis_logo.png" style="width: 100%;  float: right;" alt=""></a>
						</div>
					</div>
				</div>

				<hr class="spacer30">

			</div>
		</div>
	</div>
</template>
