
<template name="home">
	<div class="herounit two">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<hr class="spacer40">
					<hr class="spacer60 nomob">

					<span class="mainhead">
						The Whole Organ Research Consortium <span class="light">is an international transdisciplinary research effort focused on engineering whole organs for human transplantation.</span>
					</span>
					<hr class="spacer50">

					<a href="/summit/" class="orange button">Learn More</a>

					<hr class="spacer60">
				</div>
			</div>
		</div>
	</div>
	

<div class="transback">
	<hr class="spacer60">
	<div class="container">

		<div class="row">
			<div class="col-md-2 col-lg-2">
				<hr class="spacer10">
				<img src="/images/date.png" alt="">
			</div>

			<div class="col-md-10 col-lg-10">
				<h1 class="blue"><span class="heavy">Upcoming Event:</span> The Whole Liver Replacement State-of-the-Science Summit.</h1>
				<p class="bigger">Organ transplantation research is shifting away from immunosuppressive regimens and tolerance induction toward technology that uses a patient’s own cells to engineer a replacement organ. The Whole Organ Research Consortium will create a unified scientific interface for the transplantion community.</p>
			</div>
		</div>

		<hr class="spacer60">


		<div class="row">
			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="snapshot">
					<div class="row">
						<div class="col-md-4">
							<div class="center">
								<img src="/images/alex_portrait.png" style="width: 96%;" alt="">
							</div>
						</div>

						<div class="col-md-8">
							<hr class="spacer10">
							<span class="main">Dr. Alejandro Soto-Gutiérrez, MD, PhD </span>
							<span class="sub">Department of Pathology, McGowan Institute for Regenerative Medicine and Thomas E. Starzl Transplantation Institute University of Pittsburgh</span>

							<!-- <hr class="spacer10">

							<p class="clean">Dr. Soto-Gutierrez and his team are focused on the development of new technologies for organ replacement using regenerative medicine approaches, including bioengineering, cell therapy and organ assembly to treat liver failure.</p> -->
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6 col-lg-6">
				<div class="snapshot">
					<div class="row">

						<div class="col-md-4">
							<div class="center">
								<img src="/images/jason_portrait.png" style="width: 96%;" alt="">
							</div>
						</div>

						<div class="col-md-8">
							<hr class="spacer10">
							<span class="main">Dr. Jason A. Wertheim, MD, PhD</span>
							<span class="sub">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</span>

							<!-- <hr class="spacer10">

							<p class="clean">Dr. Wertheim's laboratory is focused on tissue engineering and regenerative medicine approaches to building solid kidneys and livers for use in transplantation.</p> -->
						</div>

					</div>
				</div>
			</div>
		</div>

		<hr class="spacer50 mobonly">
		<hr class="spacer50 nomob">
		<hr class="spacer40 nomob">

		<div class="summitbox">
			<div class="row">
				<div class="col-md-8">
					<div class="big liner">
						<p class="clean bigger">The Whole Organ Research Consortium will serve as the scientific interface for the transplantation community.</p>
					</div>
				</div>
				<div class="col-md-4">
					<hr class="spacer50">
					<div class="alignright" style="padding-right: 40px;">
						<a href="/summit/" class="button blue">About the Summit</a>
					</div>
				</div>
			</div>
		</div>

		<hr class="spacer60">
		<hr class="spacer10">
		<hr class="spacer30 nomob">
	</div>
</div>

	</div>
</template>
