
<template name="home">
	

	<div class="container">
		<hr class="spacer10">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, corporis libero perferendis omnis consectetur dolores asperiores magni facilis nulla dolorem dolorum doloremque cupiditate reiciendis ut sapiente et aspernatur quae optio!</p>
		<hr class="spacer50">
		<hr class="spacer10">
		<hr class="spacer50">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, doloribus voluptatem dolorem tenetur sed assumenda et quidem! Omnis dolorum dignissimos mollitia sit beatae perferendis at veniam distinctio molestias. Nulla, quibusdam.</p>
	</div>

</template>
