
<template name="home">
	

	<div class="herounit bubblesone">
		<div class="container">
			<div class="row">
				<div class="col-md-11">
					<hr class="spacer40">
					<hr class="spacer60 nomob">

					<span class="mainhead">
						Engineering replacement organs.<br>What's next?
					</span>
					<hr class="spacer50">

					<a href="" class="long orange button">Register</a>

					<hr class="spacer60">
					<hr class="spacer60">
					<hr class="spacer20">
				</div>
			</div>
		</div>
	</div>
	
	<div class="grayback">
		<div class="container">

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<!-- SEO purposes -->
					<h1 class="center">Find out. Attend the Whole Liver Replacement State-of-the-Science Summit.</h1>
				</div>
			</div>

			<hr class="spacer30">

			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<p class="center">Great technical challenges must be resolved if we are to engineer whole organs.<br> On April 30, 2014, the world’s recognized experts are gathering to form a transdisciplinary international scientific consortium.</p>
				</div>
			</div>

			<hr class="spacer60">
			<hr class="spacer20">

			<div class="center">
				<a href="#" class="blue button center">About the Summit</a>
			</div>

			<hr class="spacer30">

		</div>
	</div>

	<div class="container">
		<hr class="spacer60">

		<div class="row">
			<div class="col-md-12">
				<div class="center">
					<h2>Meet the Co-Facilitators</h2>
				</div>

				<hr class="spacer60">
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/alex_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Alejandro Soto-Gutiérrez, MD, PhD </span>
					<span class="sub">Thomas E. Starzl Transplantation Institute, University of Pittsburgh</span>

					<hr class="spacer10">

					<p>Dr. Soto-Gutierrez and his research team are focused on the development of new technologies for whole organ replacement using regenerative medicine approaches, including bioengineering, cell transplantation and organ engineering.</p>
				</div>
			</div>

			<div class="col-md-6 col-sm-6">
				<div class="liner snapshot">
					<div class="center">
						<img src="/images/jason_portrait.png" alt="">
					</div>

					<hr class="spacer30">

					<span class="main">Dr. Jason A. Wertheim, MD, PhD</span>
					<span class="sub">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</span>

					<hr class="spacer10">

					<p>Dr. Wertheim's laboratory is focused on tissue engineering and regenerative medicine approaches to building solid kidneys and livers for use in transplantation.</p>
				</div>
			</div>
		</div>

		<hr class="spacer30 mobonly">
		<hr class="spacer30 nomob">
		<hr class="spacer40 nomob">

		<div class="row">
			<div class="center">
				<a href="#" class="long orange button">Join Us</a>
			</div>
		</div>

		<hr class="spacer60">
		<hr class="spacer10">
		<hr class="spacer30 nomob">
	</div>
</template>
